<%- contentFor('title') %>
<%- contentFor('body') %>


<!-- display all shoes here -->

<!-- <div class="blog_section">
    <% for (let sneaker of sneakers) { %>
    <p><%=  sneaker.releaseDate %></p>
    <p> <%= sneaker.sneakerName %> </p>
    <p> <%= sneaker.colorway %> </p>
    <p> <%= sneaker.retailPrice %></p>
    <p> <%= sneaker.stockXPrice %></p>
    <p> <%= sneaker.goatPrice %></p>
    <p> <%= sneaker.stadiumGoodsPrice %></p>
    <p> <%= sneaker.flightClubPrice %></p>
    <p> <%= sneaker.silhoutte %></p>
    <p> <%= sneaker.styleID %></p>
    <p> <%= sneaker.brand %></p>
    <p> <%= sneaker.retailPrice %></p>
    <p> <%= sneaker.createdAt %></p>
    <a href="<%= sneaker.id %>">Click</a>
    <br>
    <br>
    <br>


    <% } %>
  </div> -->

 

