<%- contentFor('title') %>
<%- contentFor('body') %>
<link rel="stylesheet" href="/stylesheets/detail.css"/>

<br>
<br>
<!-- whole info container -->
<div class="container">

  <!-- sneaker info div -->
  <div class="sneakerInfo">
    <!-- name and img div -->
    <div class="name">
      <h3><%= snkr.sneakerName %> <h3>
      </div>
      <div class="img">
        <img style="width:18rem;" src="<%= snkr.imageUrl %>">
    </div>
    <!-- other info div -->
    <div class="otherInfo">
      <h3 class='infoHeader'>Sneaker Details</h3>
      <ul>
        <li>ReleaseDate: <%= snkr.releaseDate %></li>
        <li>Retail Price: $<%= snkr.retailPrice %></li>
        <li>stockXPrice Price: $<%= snkr.stockXPrice %></li>
        <li>goatPrice: $<%= snkr.goatPrice %></li>
        <li>stadiumGoodsPrice: $<%= snkr.stadiumGoodsPrice %></li>
        <li>flightClubPrice: $<%= snkr.flightClubPrice%></li>
        <li>silhoutte: <%= snkr.silhoutte %></li>
        <li>styleID: <%= snkr.styleID %></li>
     </ul>
    </div>
  </div>


    <!-- div for line graph -->
    <div>
      <h3>Sneaker Prices by Week:</h3>
      <canvas class="chart" id="lineChart"></canvas>
    </div>

      
    <!-- div for bargraph  -->
    <div>
      <h3>Average Prices by Site:</h3>
      <canvas class="chart" id="averageBySite"></canvas>
    </div>

    <div>
      <h3>Price of Sneaker at site:</h3>
      <canvas class="chart" id="sizePrices"></canvas>
    </div>

  </div>
<!-- access data given by the sneaks api -->
<p class="apiData" style="display: none;"> <%= apiData %> </p>

<!-- for getting data -->

<p class="modelData" style="display: none;"> <%= sneakers %> </p>

<!-- end get data -->


<script type="text/javascript" src="/scripts/detail.js"></script>
