<%- contentFor('title') %>
<%- contentFor('body') %>


<div class="container">
    <h1><%= snkr.sneakerName %> </h1>
    <img style="width:18rem;" src="<%= snkr.imageUrl %>">
    <canvas id="barChart" width="200" height="200"></canvas>
    <canvas id="lineChart" width="200" height="200"></canvas>
  
</div>


<!-- for getting data -->
<div style="display:none" class="blog_section">
    <% for (let sneaker of sneakers) { %>
        <% if (snkr.styleID == sneaker.styleID) { %>
            
    <p class="releaseDate data" id="releaseDate" data="<%= sneaker.releaseDate %>"><%= sneaker.releaseDate %></p>
    <p class="name data" id="name" data="<%= sneaker.sneakerName %>"><%= sneaker.sneakerName %> </p>
    <p class="price retail data" id="retail" data="<%= sneaker.retailPrice %>"><%= sneaker.retailPrice %></p>
    <p class="price stockx data" id="stockx" data="<%= sneaker.stockXPrice %>"><%= sneaker.stockXPrice %></p>
    <p class="price goat data" id="goat" data="<%= sneaker.goatPrice %>"><%= sneaker.goatPrice %></p>
    <p class="price stadiumgoods data" id="stadium" data="<%= sneaker.stadiumGoodsPrice %>"><%= sneaker.stadiumGoodsPrice %></p>
    <p class="price flightclub data" id="flight" data="<%= sneaker.flightClubPrice %>"><%= sneaker.flightClubPrice %></p>
    <p class="date data" id="date" data="<%= sneaker.createdAt %>"><%= sneaker.createdAt %></p>

            <% } %>

    <% } %>
  </div>
<!-- end get data -->




  <script>

    let allData = []

    // get data
    let dataClass = document.getElementsByTagName("p");
    for (let i = 0; i < dataClass.length; i++){
        let name = "";
        let releaseDate = "";
        let retail = 0;
        let stockx = 0;
        let stadium = 0;
        let flight = 0;
        let date = 0;
        let avg = 0;

        if ($('p').hasClass("name")){
            name = $('#name').first().text();
        }
        

        if ($('p').hasClass("releaseDate")){
            releaseDate = $('#releaseDate').first().text();
        }
        

        // all the prices
        if ($('p').hasClass("retail")){
            retail =  parseInt($('#retail').first().text());
        }


        if ($('p').hasClass("stockx")){
            stockx =  parseInt($('#stockx').first().text());
        }


        if ($('p').hasClass("goat")){
            goat =  parseInt($('#goat').first().text());
        }


        if ($('p').hasClass("stadium")){
            stadium =  parseInt($('#stadium').first().text());
        }

        if ($('p').hasClass("flight")){
           flight =  parseInt($('#flight').first().text());
        }

        // the date
        if ($('p').hasClass("date")){
           date = $('#date').first().text();
        }

        avg = (stockx+goat+stadium+flight)/4;
        
        allData.push({
            "releaseDate": releaseDate,
            "name": name,
            "retail": retail,
            "stockx": stockx,
            "goat": goat,
            "stadium": stadium,
            "flight": flight,
            "date": date,
            "average": avg,
        })
    }

    let dataByDay = []

    let dataByReseller = []

    for (let i = 0; i <allData.length;i++){

        let retail = "";
        let retailPrice = 0;

        let stockx = "";
        let stockxPrice = 0;
        
        let goat = "";
        let goatPrice = 0;

        let stadium = "";
        let stadiumPrice = 0;

        let flight = "";
        let flightPrice = 0;

        let average = "";
        let averagePrice = 0;
        


        dataByDay.push({
            "id": i,
            "place": retail,
            "price": retailPrice
        })

        dataByDay.push({
            "id": i,
            "place": stockx,
            "price": stockxlPrice

        })


        dataByDay.push({
            "id": i,
            "place": goat,
            "price": goatPrice
        })


        dataByDay.push({
            "id": i,
            "place": stadium,
            "price": stadiumlPrice
        })

        dataByDay.push({
            "id": i,
            "place": flight,
            "price": flightPrice
        })


        dataByDay.push({
            "id": i,
            "place": average,
            "price": averagePrice
        })



    }




    let priceData = [];
    let average = 0;
    var paragraphs = document.getElementsByClassName("price");
    for (let i = 0; i < paragraphs.length; i++) {
        var paragraph = parseInt(paragraphs.item(i).textContent);
        priceData.push(paragraph);
        average += paragraph;
    }

    average = average/priceData.length;
// The new data variable.
const DATA = [
  {id: "id0", place: "retail", price: priceData[0]},
  {id: "id1", place: "stockx", price: priceData[1]},
  {id: "id2", place: "goat", price: priceData[2]},
  {id: "id3", place: "stadiumgoods", price: priceData[3]},
  {id: "id4", place: "flightclub", price: priceData[4]},
  {id: "id5", place: "average", price: average}
];








var ctx = document.getElementById('barChart');
ctx.height = 500;
ctx.width = 1000;

var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [DATA[0]['place'], DATA[1]['place'], DATA[2]['place'], DATA[3]['place'], DATA[4]['place'], DATA[5]['place']],
        datasets: [{
            label: 'price',
            data: [DATA[0]['price'], DATA[1]['price'], DATA[2]['price'], DATA[3]['price'], DATA[4]['price'], DATA[5]['price']],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: false,
        // maintainAspectRatio: true,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

var linectx = document.getElementById('lineChart');
var stackedLine = new Chart(linectx, {
    type: 'line',
    data: {
        labels: [DATA[0]['place'], DATA[1]['place'], DATA[2]['place'], DATA[3]['place'], DATA[4]['place'], DATA[5]['place']],
        datasets: [{
            label: 'price',
            fill: false,
            data: [DATA[0]['price'], DATA[1]['price'], DATA[2]['price'], DATA[3]['price'], DATA[4]['price'], DATA[5]['price']],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },    options: {

        scales: {
            yAxes: [{
                stacked: true
            }]
        }
    }
});


</script>




