<%- contentFor('title') %>
<%- contentFor('body') %>
<link rel="stylesheet" href="/stylesheets/detail.css"/>

<br>
<br>
<div class="container">
    <h1><%= snkr.sneakerName %> </h1>
    <img style="width:18rem;" src="<%= snkr.imageUrl %>">
    <canvas style="float:right;" id="barChart" width="200" height="200"></canvas>
    <canvas style="float:right;" id="lineChart" width="200" height="200"></canvas>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>


<!-- for getting data -->
<div class="blog_section">
    <% for (let sneaker of sneakers) { %>
        <% if (snkr.styleID == sneaker.styleID) { %>
          
    <section>
    <p style="display: none;" class="data"> <%= sneaker.releaseDate %> <%= sneaker.retailPrice %> <%= sneaker.stockXPrice %> <%= sneaker.goatPrice %> <%= sneaker.stadiumGoodsPrice %> <%= sneaker.flightClubPrice %> <%= sneaker.createdAt %>  </p>
    </section>
            <% } %>

    <% } %>
  </div>
<!-- end get data -->


<script type="text/javascript" src="/scripts/detailViewData.js"></script>
