<%- contentFor('title') %>
<%- contentFor('body') %>



<div class="searchedFor">
    
</div>

    <img src="<%= products.thumbnail %>" class="card-img-top" alt="sneakerImage">
        <h5 class="card-title"><%= products.shoeName %></h5>
        <p><%= products.resellPrices %></p>
        <p><%= products.resellLinks %></p>

<div class="container">


 

  </div>