<%- contentFor('title') %>
<%- contentFor('body') %>



<div class="searchedFor">
    
</div>



   <div class="column">

    <% for (let product of products) { %>
    
    
          <div class="card">
            <img src="<%= product.thumbnail %>" class="card-img-top" alt="sneakerImage">
              <div class="card-body">
                <h5 class="card-title"><%= product.shoeName %></h5>
                <p><%= product.lowestResellPrice %></p>
                <a href="/sneakers/<%= product.styleID %>/more" class="btn btn-dark">More</a>
            </div>
          </div>
    
          <!-- <br>
          <br> -->
          <% } %>
        </div>
    


<div class="container">


 

  </div>