<%- contentFor('title') %>
<%- contentFor('body') %>


<!-- header -->
<header class="masthead text-white text-center" style="background-color:lightgray;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">A Look At All the Data</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        </div>
      </div>
    </div>
  </header>

  <!-- most expensive shoes by color -->
  <!-- grpah visuals -->
<div class="container">
    <canvas style="float:right;" id="brandPricesChart" width="200" height="200"></canvas>
    <canvas style="float:right;" id="brandPriceOverTime" width="200" height="200"></canvas>
    <canvas style="float:right;" id="dataBasePieChart" width="200" height="200"></canvas>
    <canvas style="float:right;" id="brandPriceOverTime" width="200" height="200"></canvas>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<br>

<!-- most expensive -->
<section class="testimonials text-center">
  <div class="container">
    <h2 class="mb-5">Expensive this Week</h2>
    <div class="row">
      <div class="col-lg-4">
        <div id="expensiveSneakerOne" class="testimonial-item mx-auto mb-5 mb-lg-0">
          <h5 id="expensiveOneName"> </h5>
        </div>
      </div>
      <div class="col-lg-4">
        <div id="expensiveSneakerTwo" class="testimonial-item mx-auto mb-5 mb-lg-0">
          <h5 id="expensiveTwoName"> </h5>
        </div>
      </div>
      <div class="col-lg-4">
        <div id="expensiveSneakerThree" class="testimonial-item mx-auto mb-5 mb-lg-0">
          <h5 id="expensiveThreeName"> </h5>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>

<!-- cheapest -->
<section class="testimonials text-center">
  <div class="container">
    <h2 class="mb-5">Cheapest this Week</h2>
    <div class="row">
      <div class="col-lg-4">
        <div id="cheapSneakerOne" class="testimonial-item mx-auto mb-5 mb-lg-0">
          <h5 id="cheapOneName"> </h5>
        </div>
      </div>
      <div class="col-lg-4">
        <div id="cheapSneakerTwo" class="testimonial-item mx-auto mb-5 mb-lg-0">
          <h5 id="cheapTwoName"> </h5>
        </div>
      </div>
      <div class="col-lg-4">
        <div id="cheapSneakerThree" class="testimonial-item mx-auto mb-5 mb-lg-0">
          <h5 id="cheapThreeName"> </h5>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>




 <div class="blog_section">
    <% for (let sneaker of sneakers) { %>
          
    <section>
    <p style="display: none;" class="data"><%= sneaker.releaseDate %> <%= sneaker.retailPrice %> <%= sneaker.stockXPrice %> <%= sneaker.goatPrice %> <%= sneaker.stadiumGoodsPrice %> <%= sneaker.flightClubPrice %> <%= sneaker.createdAt %> <%= sneaker.imageUrl %> <%= sneaker.sneakerName %></p>
    </section>

    <% } %>
  </div>
 

<script type="text/javascript" src="/scripts/removeDuplicates.js"></script>